.search_elements {
    background-color: #fcfcfc;
    display: none;
    border-radius: 5px;
    height: 40px;   
}

.App_Container {
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    position: relative;
  }

.icon {
    width: 20px;
    height: 20px;
    color: #A0A0A0;
    margin: auto 3px auto 10px;
}

.search_elements input {
    background-color: #fcfcfc;
    width: 250px;
    font-size: 14px;
    color: #A0A0A0;
    padding: 6px 3px;
    outline: none;
    border: none;
}

@media screen and (min-width: 620px) {
    .search_elements {
        display: inline-flex;
        position: absolute;
        top: 20px;
        right: 5%;
    }
}