
  

  .div{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  color: black;
  }
  
  
  
  
      
  
  .Main{
     
    border-radius: 6px;
    margin-top: 40px;
    height: 70vh;
      
  }
.subMain{
    background-color: rgb(182, 180, 180);
    text-align: center;
     
}
.link{
    color: rgb(119, 118, 118);
    text-decoration: none;

}

.link:hover{
    color: rgb(150, 148, 148);
    text-decoration: none;

}
.sidebar{
    margin: -55px;
    margin-top: 20px;
   color:rgb(92, 91, 91)
}

.sidebar ul li{
   padding:7px;
   text-align: left;
    list-style: none;
    font-size: 15pt;
}
.sidebar ul li:hover{
    cursor: pointer;
    color:white;
    background-color: rgb(146, 146, 146);
}
  
  .Main_Content{
    
      background-color: rgb(207, 205, 205);
  }
  
  
  /* Desktop view */
  @media (max-width: 769px){
      
      .Main {
          
          overflow: scroll;
          text-align: left;
          height: 135vh;
      }
  
      ::-webkit-scrollbar{
      width: 0px;
          background: transparent;
      }
  }