* {
  padding: 0%;
  margin: 0%;
}

.sideNav {
  width: 100%;
  height: auto;
  margin: 10% 0% 10% 0%;
  color: #007bff;
  padding: 4%;
}
.sideNav h4 {
  font-weight: bold;
}
.btnDiv {
  margin-left: 20%;
  max-width: 40%;
}
.button {
  background-color: white;
  color: #007bff;
  max-width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #007bff;
  font-weight: bold;
}

.button:hover {
  background-color: #007bff;
  color:white;
}
.icon {
  float: left;
  margin-right: 2%;
  width: auto;
  color: #007bff;
}
.divBody {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 4%;
}
.details {
  width: 50%;
}
.details span {
  font-weight: bold;
  text-transform: capitalize;
}
.details p {
  font-size: 10pt;
  text-align: left;
  color:rgb(138, 138, 138);

}

/* Desktop view */
@media (max-width: 769px) {
  .btnDiv {
    margin-left: 10%;
    max-width: 40%;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
