.Nav {
  height: auto;
  box-sizing: border-box;
  background-color: #007bff;
}

.Nav_item {
  float: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.Nav_item > a {
  font-size: 15px;
  font-weight: 700;
  float: none;
  padding: 2px 2px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: white;
}

.Nav_item > a:hover {
  text-decoration: none;
  color: #eff3fcc0;
}

.Logo {
  padding: 0;
  height: 50%;
}

@media (max-width: 754px) {
  .Nav {
    width: 100%;
    height: 100px;
  }
  .Nav_item > a {
    font-size: 13px;
  }
}
@media (min-width: 760px) {
  .Nav {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 6px 90px;
  }

  .Logo {
    height: 100%;
  }

  .Nav_item {
    position: absolute;
    top: 28px;
    right: 90px;
    float: right;
  }

  .Nav_item > a {
    padding: 7px 10px;
    cursor: pointer;
    text-align: left;
  }
}
