.form {
  margin: 50px;
  padding: 50px;
  width: auto;
  
}
.text {
  color:rgb(69, 90, 92) ;
  font-weight: 900;
}
.input {
  border-width: 0px !important;
  background-color:#e4eaf1 !important;
  color:#adaeaf !important;
  font-style: italic !important;
  outline: none;
}
.input option:disabled {
  background-color: rgb(218, 228, 236) !important;
  color: white;
}

.image input[type="file"] {
  display: none;
}
.image {
  cursor: pointer;
  color: rgb(69, 90, 92);
}
.input:hover {
  background-color: rgb(218, 228, 236);
}
.tag li {
  display: inline-block;
  font-size: 7pt;
  padding: 4px;
  margin: 6px;
  color: white;
  background-color: rgb(69, 90, 92);;
  border-radius: 3px;
  border-width: 0px;
}
.tag li:hover {
  background-color: rgb(69, 90, 92);;
  cursor: pointer;
}
.tag {
  width: 100%;
  list-style: none;
}
.max {
  font-size: smaller;
  color: rgb(192, 191, 191);
  font-style: italic;
}
.div {
  background-color: rgb(236, 232, 232);
  width: 140px;
  height: 100px;
  border-radius: 5px;
  margin-left: 2%;
  border-right: 1px solid rgb(145, 144, 144);
  border-bottom: 1px solid rgb(145, 144, 144);
}

.div img {
  height: 100%;
  width: 100%;
  margin: 0px 0px;
  padding: 0%;
}

input[name="title"] {
  min-height: 70px;
  border: 0px;
  font-style: italic;
  font-size: 30pt;
  caret-color: rgb(159, 204, 248) !important;
  text-indent: 0px;
  transition: text-indent 0.3s ease;
  outline-width: 0px;
  background-color: #e4eaf1;

}

input[name="title"]:focus {
  text-indent: 20px;
  outline: none;
  transition: text-indent 0.3s ease;
  background-color: rgb(218, 228, 236);

}
.btn{
  background-color:rgb(69, 90, 92) !important;
  border:none;
}

input[name="title"]::-webkit-input-placeholder {
  font-size: 38pt;
  font-family: "Times New Roman", Times, serif;
  color: rgb(213, 214, 216) !important;
  font-weight: 500;
  font-style: italic;
}

.toast{
    position: absolute; 
    top: 0;
    width: 10rem;
    z-Index: 10;
    margin-top: 5px;
}
.button_group button {
  margin-left: 10px;
}
.button_group {
  margin-top: 50px;

}

@media (max-width: 900px) {
  .form {
    margin: 17% 0% 17% 0%;
    padding: 5%;
    width: 100%;
  }
}
@media (min-width: 400px) {
  .tag {
  margin-left:-37%;
  width: 100%;
  list-style: none;
}
}
