


.form{
   box-shadow: 0px 0px 20px rgb(104, 102, 102,0.4);
      margin:50px;
      padding:50px;
      width:auto;
      
}



.input{
      border-bottom:1px solid rgb(161, 160, 160);
      background-color: rgb(235, 234, 234);
     
}
.input:hover,.input:focus{
      border-width:0px;
      background-color: rgb(235, 234, 234);
     
}
.tag li{
      display: inline-block;
      font-size: 7pt;
      padding:4px;
      margin: 6px;
      color:rgb(71, 71, 71);
      background-color: rgb(177, 177, 177);
      border-radius: 3px;
      border-width: 0px;
}
.tag li:hover{
      background-color: rgb(190, 188, 188);
      cursor: pointer;

}
.tag{
      width:100%;
      list-style:none;
      
}
.max{
      font-size: smaller;
      color:rgb(192, 191, 191);
      font-style: italic;
}
.div{
      background-color: rgb(236, 232, 232);
      width: 140px;
      height: 100px;
      border-radius:5px;
      margin-left: 2%;
      border-right: 1px solid rgb(145, 144, 144);
      border-bottom:1px solid rgb(145, 144, 144) ;
}

.div img{
      height: 100%;
      width: 100%;
      margin: 0px 0px;
      padding: 0%;
}

.editor{
      border: 1px solid #ccc;
      padding:20px;
      border-radius: 5px;
      min-height:120px;
}
.btnGroup{
      display: inline-block !important;
      width: 100%;
      border: 1px solid rgb(253, 247, 247);
      padding:2% 0% 0%;
}

.toolbar button[type="button"] {
  border: 1px solid rgb(223, 221, 221);
  background-color: #fff;
  border-radius:5px;
  cursor: pointer;
  margin:2px;
  padding:8px;
  color:rgb(109, 107, 107);
  }

.toolbar button[type="button"]:not(.change):hover {
  background-color: #eee;
  transform: rotate(280deg);
}

.button_group button{

      margin-left: 10px;
      
}
.button_group{
      margin-top:50px;
}

@media (max-width: 900px){
      .form{
            box-shadow: 0px 0px 20px rgb(104, 102, 102,0.6);

               margin:17% 0% 17% 0%;
               padding:5%;
               width:100%;
      
         }
         
        
      
  }