.hero_container {
  width: 100%;
  height: 304px;
  background-color: #ededed;
  display: flex;
  text-align: center;
  position: relative;
  transition: all 0.4s ease;
}

.App_Container {
  max-width: 90%;
  font-family: "Poppins", sans-serif;
  display: flex;
  margin: 0 auto;
}

.outer .details {
  margin-top: 80px;
}

.details h2 {
  font-family: "Merriweather", serif;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}

.details p {
  font-size: 15px;
  line-height: 20px;
  max-width: 70ch;
  margin-bottom: 30px;
}

.details .login_button {
  background-color: #455a5c;
  border-radius: 4px;
  padding: 10px 35px;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

.details .login_button:active,
.login_button:hover {
  text-decoration: none;
}

@media screen and (min-width: 620px) {
  .hero_container {
    height: 400px;
  }

  .outer .details {
    margin-top: 120px;
  }

  .details h2 {
    font-size: 40px;
    line-height: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .details h2 {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 20px;
  }
}
