.categories_container {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.categories {
  overflow: auto;
  white-space: nowrap;
  margin-top: 30px;
}

.categories::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.categories p {
  display: inline-block;
  text-align: center;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  margin: 10px 10px 5px;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.categories p:hover {
  border: 1px solid #40696d;
}
