.btn{
  background: linear-gradient(180deg, #455a5c 0%, rgb(69, 90, 92) 555.56%) !important;
  border: none !important;
border-radius: 0px !important;
}

.btn:focus{
  outline: none !important;
  box-shadow:none !important;
}

.header{
  font-weight:800 !important;
  font-size: 150%;
  color:#455a5c;

}

