.progress {
  height: 2px !important;
  margin:0% 20% 2% 20%;
}
.WrapperEditor {
  margin-top: 7%;
}
.editor {
  border: 0px;
  margin-bottom:1%;
  height: auto;
  background-color: #e4eaf1;
  padding: 1%;
  border-radius: 0px 0px 10px 10px;
 
}

.btnGroup {
  display: inline-block !important;
  width: 100%;
  border: 0px;
  padding: 2% 2% 0%;
  background-color: #e4eaf1;

}

.image{
  border-radius: 6px;
  margin: 1% 1% 1% 1%;

}
.toolbar button[type="button"] {
  border: 1px solid rgb(223, 221, 221);
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  padding: 8px;
  color: rgb(109, 107, 107);
}

.toolbar button[type="button"]:not(.change):hover {
  background-color: #007bff;
  color:white;
  
}

@media (max-width: 500px) {
  .toolbar button[type="button"] {
    margin: 2px;
    padding: 3px;
    
  }
  .toolbar button[type="button"]:not(.change):hover {
    background-color: #007bff;
    color:white;
    
  }

  .editor {
    border: 0px;
  margin-bottom:1%;
    height: auto;
  }
}
