.sidebar{
      margin: -15px;
      margin-top: 20px;
     color:rgb(92, 91, 91)
  }
  
  .sidebar ul li{
     padding:7px;
  
      list-style: none;
      font-size: 15pt;
  }
  .sidebar ul li:hover{
      cursor: pointer;
      color:white;
      background-color: rgb(146, 146, 146);
  }
.button_component{
      margin-left: 30px;

  }
  
  .button_component button{
      margin: 5px;
      background-color: rgb(170, 168, 168);
      border-width: 0px;
      color:rgb(70, 69, 69);
      text-align: center;
      width: 100px;
  }


.post_body{
      padding:5px;
      margin:20px;
      padding-bottom: 20px;
}
.post_body:hover{
      cursor: pointer;
      border: 1px solid rgb(196, 195, 195);
}

.post_sidebar{
margin-left: 70px;

}

.link{
      color: rgb(119, 118, 118);
      text-decoration: none;

}

.link:hover{
      color: rgb(150, 148, 148);
      text-decoration: none;

}
.span{
      color: rgb(139, 141, 141);
      font-size: 10pt;
      font-style: italic;
}