.main {
  margin-bottom: 3%;
  padding: 0% !important;
  color: rgb(134, 134, 134);
  font-size: 15pt;
  text-transform: capitalize;
}

.btn{
  color: rgb(134, 134, 134) ;

}
.right {
  background-color: rgb(194, 194, 193);
  height: auto;
  border-radius: 3px;
}


.left,
.timer,
.header {
  display: flex;
  flex-direction: row;
  margin-left: 0%;
  color: rgb(134, 134, 134);

}

.left div {
  padding: 1%;
  
  
}

.timer div {
  padding: 2%;
  font-size: 7pt;
  text-transform: capitalize;
}
.header div {
  padding: 1%;
  font-size: 9pt;
  font-weight: bold;
  text-transform: capitalize;
}

.left span,
.header span,
.timer span {
  margin-left: 6px;
}

@media (max-width: 500px) {
  .left div {
    padding: 1%;
    font-size: 9pt;
    text-transform: capitalize;
  }

  .timer div {
    padding: 1%;
    font-size: 7pt;
    text-transform: capitalize;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

@media (max-width: 379px) {
  .left div {
    padding: 1%;
    font-size: 9pt;
    text-transform: capitalize;
  }
  .left div .btn {
   
    font-size: 6pt;
    
  }

  .timer div {
    padding: 1%;
    font-size: 7pt;
    text-transform: capitalize;
  }
}

.link:hover {
  text-decoration: none;
}
